{% extends "base.html.twig" %}

{% block body %}
    <h1>Hello</h1>
    <div>

        <div>
            {{ "now "|date('Y')}}
        </div>

        {# créer une variable ! #}
        {% set name = "Cyril" %}
        <h2>{{ name }}, {{ name| length }}</h2>

        {# Créer un tableau #}
        {% set colors =["orange", "brown", "turquoise", "blue"] %}

        <div>nombre de couleurs : {{ colors|length }}</div>
        <div>{{ colors|join(' / ') }}</div>

        {% for color in colors %}
            <div>{{ loop.last }}</div>
            <div style="background-color: {{ color }}">{{ color }}</div>
        {% endfor %}

        {# je créer un objet #}
        {% set book = {
            title: 'Pifpaf',
            year: 2000,
            author: "John Doe"
        } %}
        <h3>{{ book.author }}</h3>
        <div>
            {% for moi, val in book %}
            <div>{{ moi }} : {{ val }}</div>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block title %} {{ parent() }} | testounet {% endblock %}